* {
    font-size: 15px;
    font-family: 'Roboto';
}

header {
    background-color: #84A8B7;
}

header h1 {
    margin: 0 auto;
    width: 80%;
    padding-top: 4%;
    padding-bottom: 4%;
    font-size: 32pt;
}

h3 {
    margin: 0 auto;
    padding-top: 4%;
    padding-bottom: 3%;
    width: 80%;
    font-size: 14pt;
    font-weight: 100;
}

span#title {
    font-family: 'Roboto';
    font-size: 32pt;
    font-weight: 700;
    color: #08306B;
}

body {
    margin: 0;
    background-color: #9CBFD8;
}

div {
    background-color: #DAEBFC;
}

.gridlines line {
    stroke: black;
}

g.x text {
    font-size: 11px;
}

div#data1 {
    display: block;
    margin: 0 auto;
    width: 80%;
}

div#data2 {
    display: block;
    margin: 0 auto;
    width: 80%;
    padding-bottom: 4%;
}

div#data1Legend svg {
    margin-top: 2%;
    transform: translate(870px, 0px);
    display: inline-block;
}

g#points {
    background-color: #816CA7;
}

path.domain {
    color: black;
}

g.tick line,
g.tick text {
    color: black;
}

text.title-graph {
    fill: #08306B;
}

text.numbers {
    fill: #0F55A6;
}

div p {
    margin: 0;
    margin-right: 50%;
    transform: translate(20%, -60%);
    font-size: 14pt;
    font-weight: 100;
}

.annotation-text {
    transform: translate(20%, -100%);
    font-size: 14pt;
    font-weight: 100;
}

header {
    margin: 0 auto;
    width: 80%;
}